[submodule "plugin-sdk"]
	path = plugin-sdk
	url = https://github.com/Megasware128/plugin-sdk.git
[submodule "ChakraCore"]
	path = ChakraCore
	url = https://github.com/Microsoft/ChakraCore.git
	branch = release/1.2
